/* Universal Styles */
body{
  font-size: 16px;
  line-height: 1.2;
}

.flex-container{
  display: flex;
}
.container{
 display: block;
}
div{
  display: block;
}

/* Navigation Section */

nav{
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 4rem;

}

.links{
  margin-right: 1.5rem;
}

.links a{
  padding-right: 1rem;
}

.logo{
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
}
.logo img{
  height: 3rem;
}


/* Jumbotron Section */
.jumbotron{
  align-items: center;
  padding-top: 4rem;
  background-color: lightgrey;
}
.jumbotron img{
  margin: 2rem 1.5rem;
  width: 50%;
  height: 50%;
}
.info{
  margin-left: 1.5rem;
}
.info h1{
  font-size: 3.2rem;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: bold;
}
.info h2{
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.info p{
  padding: 0.5rem 0;
  text-align: center;
  background-color: black;
  color: white;
  width: 60%;

}


/* Content Section */

.content{
  margin: 2rem 0 2rem 1.5rem;
  width: 90%;
  line-height: 1.5;

}
.content img{
  width: 70%;
}

.small-container{
  width: 40%;
  margin-top: 2rem;
  margin-right: 2rem;
}

.small-box{
  display: flex;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;

}
.small-box img{
  height: auto;
  width: 70%;
}
.box-text{
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  line-height: 1.5;
}
.content h1{
  font-size: 2rem;
}
.content p{
  font-size: 1.5rem;
}
.color-fill{
  background-color: lightgrey;
}
/* Start Learning Section */

.learning{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem 4.5rem;
  justify-content: center;
}
.learning-container{
  background-color: lightgrey;
}
.courses{
  width: 30%;
}

.heading{
  text-align: center;
  padding: 2rem 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.course-info{
  background-color: white;
  width: 70%;
  margin-top: 0;
}
.course-image{
}
/* Thesis Exhibit Section */

video{
  width: 60%;
}
